body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(214, 255, 196);
}

.container {
  width: 100%;
  max-width: 400px;
  height: 40rem;
  margin: 50px auto;
  padding: 20px;
  background-color: #948f8f63;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Style du formulaire */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Message */
#message {
  margin-top: 15px;
  text-align: center;
  color: red;
}

/* Responsive */
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }

  input,
  button {
    font-size: 14px;
  }
}
